<div id="toolbar" style="border-bottom:1px dotted silver;width:100%;padding-bottom:10px;margin-bottom:20px;">
  <% if signed_in? -%>
    Hello, <%= current_user.email %>! <%= link_to 'Sign out', signout_path %>
  <% else -%>
    Hi! Please <%= link_to 'Register', signup_path %> or <%= link_to 'Sign in', signin_path %>
  <% end -%>
</div>